


body{
    font-family: Dosis, sans-serif;
    }

    .h2{
        font-size: 50px;
        text-align: center;
        color: #008037;
        margin-top: 15px;
    }

.opciones-arriba{
    width: 100%;
    height: 50%;
    display:flex;
        margin-top: 10%;
        justify-content: center;
        align-items: flex-end;
    }


    .opciones-divs1{
        box-sizing: border-box;
        width: 250px;
        height: 250px;
        background-color: white;
        
        margin:10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: .5s;
        cursor:pointer;
     }



     .volver{
        width: 50px;
        height: 50px;
        font-size: 30px;
        color:#008037;
        padding-left: 30px;
    }
    
    .volver i{color:#008037; transition:.5s}
    .volver i:hover{
        font-size: 40px;
    }

    .titulos{
        text-align: center;
        color:#008037;
        font-size: 30px;
        font-weight: 600;
    }

    .fa-solid.fa-boxes-packing{
        width: 100%;
        
        font-size: 80px;
        color: #008037;
        text-align: center;
        
    }

    .fa-solid.fa-user-gear{
        width: 100%;
        
        font-size: 80px;
        color: #008037;
        text-align: center;
        
    }


    .celdaEmail{
        width: 200px !important;
    }

    .celdaEliminar{
        width: 60px !important;
    }
.fa-solid.fa-user-xmark{
        
        
        font-size: 20px;
        color: #008037;
        text-align: center;
    }


    .fa-solid.fa-user-pen{
        
        
        font-size: 20px;
        color: #008037;
        text-align: center;
    }
    select{
        font-weight: 600;
        font-size: 20px;
    }

    
.cuerpo{
    width: 100%;
    height: calc(100vh - 156px);
}
.cuerpoOtros{
    width: 100%;
}

.contenedorTabla{
    margin-top: 20px;
    
}





th{
    color:white;



}
tr{
    color: black;

}
.total{
    width: 100%;
    float: left;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
}

.contenedor{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.contenedor1{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.contenedor2{
    width: 100%;
    margin-top: 40px;
}


.notas{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.notascart tr{
    border: none !important;
}
.notascart{
    background-color:#c9e265;
}


.fa-minus{
    font-size: 20px;
    font-weight: 1000;
    color: #000;
}

.fa-plus{
    font-size: 20px;
    font-weight: 1000;
    color: #000;
}


@media (max-width: 770px) {   

    .update-box{
        margin: 0px 10px 10px 10px;
    }
   
    .notascart{
        background-color:#f2f2f2;
    }
}

@media (max-width: 820px) {   


   
    .notascart{
        background-color:#f2f2f2;
    }
}




.notas caption{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px
}

.notas tr{
    background-color:  #c9e265;
    border: 1px solid #ddd;
    font-weight:650;
}

.notas th, .notas td{
    font-size: 11px;
    padding: 8px;
    text-align: center;
}

.notas thead th{
    text-transform: uppercase;
    background-color:#008037;
}

.notas tbody tr:hover{
    background-color:  #a5bc46;
}

.notas tbody td:hover{
    background-color:  #99ac49;
}


.title-product{
    font-size: 40px;
    font-weight: 600;
    color: #008037;
    margin-top: 20px;
    margin-left: 40px;

}

.form-productos{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    margin:auto;
    box-sizing: border-box;
    
    
}
.a{
    position: relative;
    text-decoration: none;
    color: #008037;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;

}
.a:after{
    content: "";
    position: absolute;
    background-color: #008037;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.a:hover:after{
    width: 100%;
}
.a:hover{
    color: #008037;
}
.form-productos input{
    width: 80%;
    height: 50px;
    border:0;
    border-bottom: 3px solid #008037 ;
    border-radius: 3px;
    background: #ffffff00;
    font-weight: 700;
    margin: auto;
   font-size: 20px;

}

select{
    height: 50px;
    width: 80%;
    margin:auto;
}


.contenedor-flex{
    display: flex;
    width: 100%;
    height: 80%;

}

.botones {
    position: relative;
    bottom: 0;
    height: 10%;
    width: 70%;
    margin:auto;
    display: flex;

}

.botones input{
    width: 30%;
    height: 50px;
    margin-bottom: 0;
    
}
.botones2 {
    position: relative;
    bottom: 0;
    height: 10%;
    width: 70%;
    margin:auto;
    display: flex;

}

.botones2 input{
    width: 30%;
    height: 50px;
    margin-bottom: 0;
    
}

.izquierda {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.derecha {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


.registrar{
    background: #0080377c !important;
    transition:.5s;
}

.modificar{
    background: rgba(51, 51, 247, 0.438) !important;
    transition:.5s;
}

.eliminar{
    background:rgba(248, 58, 58, 0.575) !important;
    transition:.5s;
}


.eliminar:hover{
    background:rgba(248, 58, 58, 0.938) !important;
    cursor: pointer;
}

.modificar:hover{
    background: rgba(47, 47, 201, 0.952) !important;
    cursor: pointer;
}


.registrar:hover{
    background: #008037da !important;
    cursor: pointer;
}

.derecha-divs{
    width: 100%;
    height: 33.33%;
    display: flex;
}

.consulta-divs{
    width: 90%;
    margin: auto;
    height: 33.33%;
    display: flex;
    justify-content: center;
}

.izquierda-divs{
    width: 100%;
    height: 33.33%;
    display: flex;
}

.men{
    text-align: center;
}
@media (max-width: 820px) {
    
    .form-productos{
        width: 100%;
        height: 170%;
    }

    .izquierda-divs{
        height: 33.33%;
    }

    .derecha-divs{
        height: 33.33%;
    }
    .contenedor-flex{
        flex-wrap: wrap;
    }

    .izquierda{
        display: block;
        width: 100%;
        height: 40%;
    }

    .derecha{
        display: block;
        margin-top: 80%;
        height: 40%;
        width: 100%;
    }

    .eliminar{
        display: block;
        margin-top: 250px;
        width: 100%;
        
    }
    .registrar{
        display: block;
        margin-top: 250px;
        width: 100%;
        
    }
    .modificar{
        display: block;
        margin-top: 250px;
        width: 100%;
        
    }
    .botones{
        display: block;
        margin-top: 100%;
        width: 100%;
        
    }
    .botones input{
        margin-top: 300px;
    }
    .botones2{
        display: block;
        margin-top: 100px;
        width: 100%;
        
    }
    .botones2 input{
        margin-top: 50px;
    }

    
    
}

@media screen and (max-width:820px){
    .contenedor{
        margin-top: 220%;
    }
    .contenedor1{
        margin-top: 400px;
    }
    .contenedor2{
        margin-top: 100px;
    }
    .notas{
        border: 0px;
    }

    .notas caption{
        font-size: 22px;
    }

    .notas thead{
        display: none;
    }

    .notas tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }

    .notas th, .notas td{
        font-size: 12px;
    }

    .notas td{
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    .notas td:last-child{
        border-bottom: 0px;
    }

    .notas td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
   
}